# Video Game Sales

## Nadeem Mazahreh
## 10/08/2021

In [34]:
import pandas as pd 
import numpy as np

In [35]:
df = pd.read_csv('./vgsales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

## Which company is the most common video game publisher?

In [36]:
most_common_publisher = df.Publisher.mode()[0]
most_common_publisher

'Electronic Arts'

## What’s the most common platform?

In [37]:
most_common_platform = df.Platform.mode()[0]
most_common_platform

'DS'

## What about the most common genre?

In [38]:
most_common_genre=df.Genre.mode()[0]
most_common_genre

'Action'

## What are the top 20 highest grossing games?

In [39]:
top_twenty_highest_grossing_games=df[['Name', 'Global_Sales']].head(20)
top_twenty_highest_grossing_games

                                            Name  Global_Sales
0                                     Wii Sports         82.74
1                              Super Mario Bros.         40.24
2                                 Mario Kart Wii         35.82
3                              Wii Sports Resort         33.00
4                       Pokemon Red/Pokemon Blue         31.37
5                                         Tetris         30.26
6                          New Super Mario Bros.         30.01
7                                       Wii Play         29.02
8                      New Super Mario Bros. Wii         28.62
9                                      Duck Hunt         28.31
10                                    Nintendogs         24.76
11                                 Mario Kart DS         23.42
12                   Pokemon Gold/Pokemon Silver         23.10
13                                       Wii Fit         22.72
14                                  Wii Fit Plus         22.00
15                            Kinect Adventures!         21.82
16                            Grand Theft Auto V         21.40
17                 Grand Theft Auto: San Andreas         20.81
18                             Super Mario World         20.61
19  Brain Age: Train Your Brain in Minutes a Day         20.22

## For North American video game sales, what’s the median?

In [40]:
na_median_sales = df['NA_Sales'].median()
na_median_sales

0.08

## For the top-selling game of all time, how many standard deviations above/below the mean are its sales for North America?

In [41]:
na_normal_distribution=(df['NA_Sales'].iloc[0]-df["NA_Sales"].mean())/df["NA_Sales"].std()
na_normal_distribution

50.47898767479108

## The Nintendo Wii seems to have outdone itself with games. How does its average number of sales compare with all of the other platforms?

In [42]:
average_sales_wii=df[df['Platform']=='Wii'].Global_Sales.mean()
average_sales_all=df['Global_Sales'].mean()
compare_tuple=(average_sales_all, average_sales_wii)
compare_tuple

(0.5374406555006628, 0.6994037735849057)

## What is the average sales for PS2 ?

In [43]:
average_PS2_sales=df[df['Platform']=='PS2'].Global_Sales.mean()
average_PS2_sales

0.5810458121240166

## What is the second best selling game?

In [44]:
second_game=df['Name'][1]
second_game

'Super Mario Bros.'

## What is the median for Global sales?

In [45]:
median_global_sales=df['Global_Sales'].median()
median_global_sales

0.17

In [46]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(most_common_publisher, 'Electronic Arts')
    assert_equal(most_common_platform, 'DS')
    assert_equal(most_common_genre, 'Action')
    assert_equal(top_twenty_highest_grossing_games.iloc[0].Name, 'Wii Sports')
    assert_equal(top_twenty_highest_grossing_games.iloc[19].Name, 'Brain Age: Train Your Brain in Minutes a Day')
    assert_equal(na_median_sales, 0.08)
    assert_equal(na_normal_distribution, 50.47898767479108)
    assert_equal(compare_tuple, (0.5374406555006628, 0.6994037735849057))
    assert_equal(average_PS2_sales, 0.5810458121240166)
    assert_equal(second_game, 'Super Mario Bros.')
    assert_equal(median_global_sales, 0.17)


    print("Success!!!")

test()

NameError: name 'na_median_sales' is not defined